.memoryCardBG {
    width:100%;
    height:100%;
    min-height:120px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:4rem;
    font-weight:700;
    user-select:none;
}
