#clickMe {
  color: goldenrod;
  border-radius: 40%;
}

img {
  border-radius: 50%;
}

body {
  background-color: rgba(216, 221, 219, 0.342);
}

h1 {
  color: rgb(44, 42, 42);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

h2 {
  color: blueviolet;
  text-align: center;
}

form {
  color: crimson;
  text-align: center;
}

#t2 {
  color: black;
  text-align: center;
}

.highlight {
  background-color: chartreuse;
}