<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask Site</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Hello from Flask!</h1>
    <button id="clickMe">Click me</button>
    <a href="https://e3.365dm.com/21/06/1600x900/skynews-monkey-statue-hartlepool_5408900.jpg?20210608110020" target="_blank"> Click this button right now.</a>
    <a href="/about"> Hey </a>
    <h2>Favorite Games, <ul> <l1> Monkey Incremental,</l1> <l2> Monkey Jumping Simulator,</l2> <l3> Monkey King of The Hill.</l3></ul></h2>
    <form>
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="Monkey"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="King">
  <input type="submit" value="Submit">
</form>
    <img src="https://img.freepik.com/premium-photo/king-monkey-sitting-golden-throne-wearing-white-coat-hd-wallpaper_594776-3196.jpg?w=2000">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
